!!! 5
html
  head
    title General Toast : The Adventure Logs
    meta(content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='chrome=1', http-equiv='X-UA-Compatible')
    link(rel='shortcut icon', href='/images/favicon.png')
    if isDebug
      link(rel='stylesheet', href='/stylesheets/main.css')
    else
      link(rel='stylesheet', href='/stylesheets/main-min.css')

  body(data-url='#{url}', data-authenticated='#{session.isAdmin || false}', data-page='#{page}')
    #wrapper
      .content
        block content
      #footer
        a(id='logo', href='https://npmjs.org/package/meatspace', title='Meatspace')
        .footer-inner
          a(href='https://github.com/ednapiranha/generaltoast') Fork this repo
          if session.isAdmin
            a(href='javascript:;', data-action='logout') Log out
          else
            a(href='javascript:;', data-action='login') Admin login
    #header
      a(href='/', title='Home') /
      if session.isAdmin
        a(href='/add', title='Add new', class='sub') +
        a(href='/subscription/manage', title='Manage subscriptions') s
      else
        a(href='/recent', title='Get this subscription url', class='sub mini') Subscribe

    script(src='https://login.persona.org/include.js', type='text/javascript')
    if isDebug
      script(src='/javascripts/require.js', data-main='/javascripts/config')
    else
      script(src='/javascripts/build/generaltoast.js')
